@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
:root{
  --first-color: #210554;
  --second-color: white;
}

.navbar{
    height: 15vh ;
}
 
.appointment, .read-more-about{
  border: 1px solid #FFFFFF;
  font: normal normal medium 17px/23px Roboto;
  border-radius: 5px;
  color:white;
  background-color: transparent;
  height: 6vh;
  }
  .read-more-about{
    background-color: #FF0686;
    border:none !important;
  }


.appointment:focus{
    outline: 0;
  }


.appointment{
  /* background-color: #210554; */
  height: 6vh;
  z-index: 3; 
  /* position: fixed ;  */
  bottom:2vh;
 
}

.text{
  font-size: medium ;
  text-align: center;
}
.desk-part-1{
    background: url('../../img/desk-part-1.png');
}
.desk-part-2{
    background-image: url('../../img/Group 27128.png');
    /* height: 210vh; */
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
.desk-part-3{
    background: url('../../img/desk-part-3.png');
    
}
.desk-part-4{
    background: url('../../img/part-4-update.png');
}
.desk-part-6, .desk-part-10{
  background-color: #FCF5F5;
}
.desk-part-6,.desk-part-7, .desk-part-8,.desk-part-9,.desk-part-10,.desk-part-11,.desk-part-12{
  /* height: 95vh; */
}
.desk-part-8,.desk-part-12{
background-color: #F1FEFF;
}


.desk-part-14{
  background: url('../../img/desk-part-7.png');
  /* height: 100vh; */

}
.desk-part-1, .desk-part-2, .desk-part-3, .desk-part-4, .desk-part-14{
    background-size: cover;
    background-repeat:no-repeat;
    
}
.desk-part-3 .steps{
    padding-top: 10vh;

}
.title-header{
  text-align: right;
  font-size: 65px !important;
  font-weight:600 !important;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.text{
  font-size: large ;
  text-align: right;
}

.title,.text{
text-align: right;
color: var(--unnamed-color-ffffff);
/* text-align: center; */
/* font: normal normal medium 58px/63px Roboto; */
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;
}
  
    .lets-start{
    border: 1px solid #FFFFFF;
    font: normal normal medium 17px/23px Roboto;
    border-radius: 5px;
    float:left;
    color:white;
    background-color: transparent;
    width: 10vw;
    height: 5vh;
   
     /* top:10vh; */
    }

    .airport{
      background-color: transparent;
    }
   
    .agile{
      /* font: normal normal bold 40px/74px Open Sans Hebrew; */
      letter-spacing: 0px;
      color: #571092;
      font-weight: 700;
      font-size: 70px;
      /* font: normal normal bold Open Sans Hebrew; */
      /* font: normal normal bold 40px/74px Open Sans ; */
    }
    .aa p{
      color: #000000 !important;
    }
    .aa h2{
      font-weight: 700;
    }
   .our-method{
    text-align: left;
    color: #571092;
    text-transform: lowercase;
    border-left: 3px #571092 solid;
   }
    .our{
      font: normal normal medium  Roboto;
      font-size: xx-large;
      font-weight: 500;
      text-transform: lowercase;
    }
    .mvp{
      padding: 0;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 560%;
    }
  
 
    .steps{
    text-align: right;
    text-transform: lowercase;
    }
  
   
    .steps h2,.learn-languages h2{
      color: #210554;
      font-weight: 700;
    
     }
     .projects{
      color: #210554;
      font-size: 60px;
     }
     .learn-languages h2{
      font-size: 70px; 
     }
     .steps h2{
       font-size: 150px !important;
     }
    h3{
      color: #210554;
      font-size: 35px !important;
      font-weight: 650 !important;
    }
    h4{
      font-weight: 650 !important;
      font-size: 25px !important;

    }
    .circle{
      width: 8px;
      height: 8px;
      background: #6200B7 0% 0% no-repeat padding-box;
      border-radius: 50px;
      margin-bottom: 3px;
    }
    h4, p{
      color: #571092
    }
    h4 ,.circle{
    display:inline-block;
    margin-right:10px;
    }
   
   
    .part-2-a p, .part-a p{
      color: #571092;
      float: right;
      text-align: right;
       }
   .dh4{
     float: right;
   }
      .h4{      
        display: inline-block;
      } 
    .desk-part-2 .border,.desk-part-3 .border,.desk-part-4 .border{
      float: right;
    }
    .desk-part-3 h2,.desk-part-3 h3,.desk-part-3 h4,.desk-part-3 p,.peper-card h2 ,.peper-card p{
      color: #FFFFFF;
    }
    .peper-card h2 {
      font-weight: 600;
      font-size: 60px; 
    }
    .peper-card p{
      text-align: center !important;
      font-size: 20px;
    }
    .desk-part-3 .circle{
      background-color: #FFFFFF;
    }
    .desk-part-3 .border{
      background-color: #FF0686;
      border: none !important;
    }
    .desk-part-4 .steps,  .desk-part-4 .room-4{
    /* top: 20vh; */
    }
    .desk-part-3 .p-1{
      color: #FFFFFF;
    }
    .desk-part-14 h1{
     color: #FFFFFF;
    }
    .learn-languages{
      margin-top:40vh;
    }
    input[type=text]{
      color:white;
      direction: rtl;

    }
    .desk-part-2 .steps,.desk-part-4 .steps {
    color: #571092;
    }  
    .desk-part-3 .steps p, .desk-part-3 .steps h1 {
     color:#FFFFFF;
    } 
    .steps-mobile h1 {
      font-weight: bold;
      font-size:45px;
    }
  
    .desk-part-2 .lets-start{
      color: #571092;
      border-color: #571092;
    }
  
   .p-2{
    text-align: center;
    font: normal normal bold 40px/43px Roboto;
    letter-spacing: 0px;
    color: #210554;
    margin-right: auto;
   }
   @keyframes arrowmove {
   50% {transform: rotate(180deg);}
 
  }
  /* .arrow{
    animation: arrowmove 5s infinite;
    animation-delay: 1s;
    animation-duration: 8s;
  } */
  .border,.border_{
      height: 5px ;
      background-color:#210554;

  }
  .leaderScren{
    background: url('../../img/leader-screen.png');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: center;
  }
  .leaderScren div {
    padding-top: 60vh;
  }
  .screen-2, .screen-3, .screen-4, .screen-5{
    height: 80vh;  
    background-size: center;
    text-align: left;
  }
  .screen-2{
    background: url('../../img/screen-2.png');
    background-repeat: no-repeat;
  }
  .screen-2 div, .screen-5 div{
    margin-top: 43vh;
    padding-left:90vh;   
  }
 h1{
  /* font: normal normal bold 40px/43px Roboto; */
  color: #210554;
  }

  p{
    /* font: normal normal medium 20px/26px Roboto; */
    color: #210554;
    
  }

  .screen-2 p, .screen-3 p, .screen-5 p{
     border-bottom:  3px solid #210554;
     padding-bottom: 5vh;
  }

  .screen-3{
    background: url('../../img/screen-3.png');
    background-repeat: no-repeat;
    margin-right: -130vh;
  }
  .screen-3 div{
    margin-top: 43vh;
    margin-left: -18vw;
    float: left;  
  }
  .screen-4{
    background: url('../../img/screen-4.png');
    background-repeat: no-repeat;

  }
  .screen-5{
    height: 110vh;
    background: url('../../img/screen-5.png');
    background-repeat: no-repeat;
  }
  .screen-5 div{
    margin-top: 70vh;
  }
    .mern{
      color: var(--unnamed-color-210554);
      font: normal normal normal 196px/243px Righteous;
      letter-spacing: 0px;
      color: #210554;
      text-transform: uppercase;
      opacity: 1;
    }
    .languages{
      color: var(--unnamed-color-210554);
      font: normal normal bold 27px/29px Roboto;
      letter-spacing: 0px;
      word-spacing: 1vw;
      color: #210554;
    }
    
    .icon >ul>li>p{
  
      font-size: 20px !important;
      font-weight: 400 !important;
      /* margin-top: 10px !important;   */
     }
    li{
      list-style-type: none;
    }
    .icon li{
       display: inline-block;
     }
     .icon li:not(:first-child){
      margin-left:5vw;

     }
     .peper-card{
       background: url('../../img/background-card-peper.png');
       background-size: contain;
       background-repeat: no-repeat; 
       height: 30vh;
     }
     .know-me h1{
      color: #571092;
     }
     .aplicate .know-me img{
      /* float: right;
      margin-top: calc(95vh - 661px); */
     }
    
    .box h1{
      color: #275BAE ;
      
     }
     .box h2{
      color: #57B3E1 !important;
     }
     .box img:nth-child(1),.funnel img, .hub img ,.time img ,.stories img,.quote img{
      /* margin-top: 15vh; */
     }
     .logo {
      margin-right: 0;
      /* display:block; */
      float: right;
     }
   
     .funnel h1{
       color: #3DAC86;
     }
     .funnel h2{
      color: #5DCBB0 !important;
          }    
     .hub h2{
      color:#71C347 !important;
     }
     .hub h1{
       color: #71C347;
     }
     .time h2{
      color:#8749A5 !important;
     }
     .time h1{
       color:#210554;
     }
     .stories h1{
        color:#FF7A8D
     }
     .stories h2{
      color:#FF646C !important;
   
     }
     .quote h2{
       color: #4452AB;
     }
     .quote h1{
       color:#4452AB
     }
     .aplicate h1, .aplicate h2{
      text-align: right !important;
      font-size: 50px;
    }
    .aplicate h2{
      font-weight: bolder !important;
      font-size: 60px;
    }
    .aplicate p{
      color: #000000;
      text-align: right !important;
      font-weight: 900px;
    }
    
    
    input {
      border: none;
      border-bottom: 2px solid #571092;
      background-color: transparent;
      width: 20vw;
    }
    
    input:focus{ 
     outline: 0;
    }


    input:hover {
      border-bottom: 2px solid white;

    }
    label{
      margin-top:1vh ;
      color: var(--unnamed-color-ffffff);
      text-align:right;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: capitalize;

    }
    .btn-nav-bar >a>button {
      border: none;
      color: var(--second-color);
      background: transparent;
      font-size: 22px;
      margin-right: 1vw;
  
  }
  /* .btn-nav-bar>button:first-child{
      background-color:#210554;
      box-shadow: 0px 0px 10px white;
      border:none;
      opacity: 1;
      border-radius: 35px;
      font: normal normal normal 15px/18px Assistant;
      letter-spacing: 0px;
      color: #FFFFFF;
  } */
    .call-us{
      margin-top:2vh;
      background: transparent url('../../img/btn-call-us hebrew.png') 0% 0% no-repeat padding-box;
      background-position: center;
      background-size: contain;
      width: 11vw;
      height: 6vh;
      border:none;

    }
    .lets-start:focus{
      outline: 0;
    }
    .lets-start:focus{
      outline: 0;
    }
  
    .details{
      margin-top:15vh;
      display: inline;
    }
    
    .details img{
      margin-left: 1vw;
      background-size: contain;
      width: 16px;
     height: 23px;
    }
    .details p{
      margin-left: 1vw;
      color: var(--unnamed-color-ffffff);
      text-align: left;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: capitalize;
      opacity: 1;
    }
    .lets-talk{
      font-size: 70px;
    }

    .boy:hover {   
      animation: mymove 5s infinite;
      animation-delay: 0s;
      animation-duration: 3s;
    }

    
  @keyframes mymove {
    40%{transform: rotate(5deg);}
 
  }
  .cloud-2-desk {
    animation: moveCloudDeskLeft alternate;
  }
  .cloud-1-desk {
    animation: moveCloudDeskRight alternate;
  }
  .cloud-2-desk, .cloud-1-desk {
    animation-delay: 0s;
    animation-duration: 4s;
    width: 135px;
    height: 111px;
    margin-top: 50vh;
    }
    .airport{
      /* animation: moveAurport  alternate;
      animation-delay: 0s;
      animation-duration: 4s; */
    }
    @keyframes moveCloudDeskLeft {
      0%{ bottom:0px; left: 0px;} 
      50%{ bottom:700px; left: 150px;}
      100%{bottom: 0px; left: 0px;}
    }
    @keyframes moveCloudDeskRight {
      0%{ bottom:0px; right: 0px;} 
      50%{ bottom:700px; right: 150px;}
      100%{bottom: 0px; right: 0px;}
    }
 
    @keyframes moveAurport {
      0%{ bottom:0px} 
      50%{ bottom:100px}
      100%{bottom: 0px}
    }
    .card-list-paper{
      height: 35vh !important;
    }
    .read-more{
      margin-top:2vh; 
      color:white;
      margin-left: 15%; 
       border:none;
      border-radius: 25px;
      background-color: var(--first-color);
    }
  
   
    @media screen and (max-width:641px){
      .ab{
        margin-right: -12vh!important;
      }
    }
  
  @media screen and (max-width:540px){
     .title,.text{
      text-align: center !important;
    }
    .border{
      text-align: right;
    }

.card-list-paper{
  height: 35vh;
}
.read-more{
  margin-top:2vh; 
  color:white;
  margin-left: 15%; 
   border:none;
  border-radius: 25px;
  background-color: var(--first-color);
}
    .agile{
      /* font-weight: 700; */
      font-size: 50px;
     }
    .navbar{
      height: 10vh;

  } 
  .step-one h1{
    color: #FFFFFF;
  }

  .cloud2:hover{
    /* margin-bottom: -400px; */
    margin-right: 0;
    animation-name: moveCloud;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  
  }
  .cloud1:hover{
    /* margin-top: -100px; */
    animation-name: moveCloud1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay:0s;
  }

  /* @keyframes moveCloud {
    0%{ bottom:-200px ;left: 60px;} 
    50%{ bottom:-50px;left: 30px;}
    100%{bottom: -200px;left: 60px;}
  }
  @keyframes moveCloud1 {
    0%{ top:-200px ;left: 60px;} 
    50%{ top:-50px;left: 0px;}
    100%{top: -200px;left: 60px;}
  } */
  .text{
    font-size: medium ;
    /* text-align: center; */
  }
  
  .appointment{
    background-color: #210554;
    height: 6vh;
    z-index: 3;
    position: fixed !important;
    /* bottom:2vh; */
    
  }

  .our-method{
    text-align: center;
    border:none;
  }
  .mvp{
    font-weight:500;
    font-size:700%;
  }
 
  h2{
    font-weight: 700;
    color: #210554;
    /* font-size: 70px; */
    text-align: right;  
  }
  h2, h3 , p{
    text-align: right; 
  }
  h4{
    font-weight: 500 !important;
    font-size: 25px !important;
  }
  .step-three p{
    float: right;
  }
  .step-three h4{
    /* font-size: 25px !important;
    font-weight: 650 !important; */
  }
  
  .agiles p, .agiles h2 ,.agile{
    text-align: center ;
  }
  .mobile-part-3 h2, .mobile-part-3 h3 ,.mobile-part-3 p, .mobile-part-3 h4 {
    color: #FFFFFF;
  }
  .mobile-part-3 .circle{
    background-color: #FFFFFF;
  }
  .mobile-part-3 .border{
    background-color: #FF0686 ;
    border: none !important;
  }

 
  .peper-card h2 {
    font-weight: 600;
    text-align: center !important;
    font-size: 35px; 
  }
  .peper-card p{
    text-align: center !important;
    font-size: 12px;
    letter-spacing: 0vh;
    text-transform: uppercase;

  }
  .peper-card{
    height: 15vh !important;
  }

 
  .screen-1{
    background: url('../../mobile-img/leaderScreen.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    height: 40vh;
  }
  .screen h1,.screen p{
    text-align: left; 
  }
  .screen-2{
    background: url('../../mobile-img/screen-2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    height: 50vh;
    
  }
  
  /* .line{
    width: 100vw;
    background-color: #210554;
    height: 5px ;
  } */
  .screen-4{
    background: url('../../mobile-img/screen-4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    height: 50vh;
   
  }
  .screen-5{
    background: url('../../mobile-img/screen-5.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    height: 50vh;
   
  }
  .screen-6{
    background: url('../../mobile-img/screen-6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 50vh;
   
  }
  .screen-7{
    background: url('../../mobile-img/phon-img.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    height: 50vh;
  }
  
/* 
   .p-1{   
    font: normal normal bold 25px/25px Roboto;
    letter-spacing: 0px; 
  }  */
  .mern{
    text-align: left;
    font: normal normal normal 126px/103px Righteous;
    letter-spacing: 0px;
    color: #210554;
  }
 
  .music-p .p-1{
    line-height: 120%;
    text-align: left;
    font-size: xx-large;
  }
  .mus{
    /* top: -10vh; */
  }
   
    .languages label{
     font-weight: bolder;
     font-size: large;
     color: #210554;

    }
    .details {
      margin-top:0;
    }
    .details img{
      background-size: contain;
      width: 16px;
     height: 23px;
    }
    .details p{

      color: #FFFFFF;
      text-align: right;
   
    } 
    .modal-dialog{
      width: 75%;
      }
      .desk-part-7,.desk-part-8,.desk-part-10{
        height: 130vh;
      }  
      .desk-part-7{
        height: 150vh;
      }  
      .desk-part-8,.desk-part-9,.desk-part-11,.desk-part-12{
        height: 120vh;
      }
      .box img:nth-child(1) ,.time img{
        /* margin-top: 0vh; */
       }
       .box h3 {
         text-align: center;
       }
      
  }

.nav{

height: 25px;

}
.btn-nav{
  border:none;
  background-color: transparent;
}
.btn-nav:focus{
  outline: 0;
 
}

.menue{
  background: url('../../mobile-img/background-menu.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: -8vw;
  top: 0;
  right:0;
  margin-top: -2vh;
  overflow: hidden;
    
}
.menue li{
 
color: var(--unnamed-color-ffffff);
font: normal normal normal 24px/66px ;
letter-spacing: 0px;
color: #FFFFFF;
font-size: x-large;
}

.menue img:not(:first-child){
  width: 24px;
  height: 23px;
}

.sub-title{
  text-align: right;
  color: #210554;
  margin-right: 5vw;

}
.desk-part{
  height: 120vh;
}
.card-list-yellow {
background-color: #fdffcde6;
}
.card-list-blue{
background-color: #e4e8fc;
}
.card-list-red{
background-color: rgb(250, 231, 234);
}
.card-list-paper, .card-list-2, .card-list-yellow, .card-list-blue, .card-list-red{
border:1px solid rgb(255, 255, 255);
height: 38vh;
margin-left: 0.5vw;
}
.card-list-paper{
background-color: #F1F1F1;

}
.read-more, .read-more-blue, .read-more-red, .read-more-yellow{
    margin-top:2vh;
    width:8vw;
    height: 5vh;
    color:white;
    margin-left: 15%;
    border:none;
    border-radius: 25px;
   }
  .read-more{
    background-color: var(--first-color);
   }
  .read-more-blue{
    background-color: #294BFF;
   }
  .read-more-red{
    background-color:  #E10D7A;
   }
    .read-more-yellow{
    background-color:  #E38C00;
   }
  .card-title-blue{
   color: #294BFF;
   font-size: medium ;
   font-weight:500;
  }
  .card-title-red{
    color: #E10D7A;
    font-size: medium ;
    font-weight:500;
  }
  .card-title-yellow{
    color:#E38C00;
    font-size: medium ;
    font-weight:500;
  }
  .card-title-paper{
    color: var(--first-color);
    font-size: medium ;
    font-weight:500;
    text-align: center !important;
   }
   .mobile h1{
    text-align: center;
    font-size: 35px !important;
   }
   .mobile p{
    text-align: center !important;
  }

  .card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 0; */
    /* display: flex; */
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    /* background-color: blue; */
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }
  .tecnolgic{
    margin-top: 5vh;
    font-weight: bolder !important;
    font-size:50px;
  }
.lan-icon{
  width:100px !important;
}
.icons >img{
  width: 150px;
}
.tec >h3{

  font-weight: 100;
}
 
.mobile-part-1{
  background: url('../../mobile-img/mobile-part-1.png');
 
 }
 .mobile-part-2{
  background: url('../../mobile-img/mobile-part-2-new.png');  
 }
 .mobile-part-3{
  background: url('../../mobile-img/mobile-part-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top: -5vh; */
}
.mobile-part-4{
  background: url('../../mobile-img/mobile-part-4-new.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 
 .mobile-part-14{
  background: url('../../mobile-img/mobile-part-7.png');
 }
 .mobile-part-1, .mobile-part-2, .mobile-part-14{
   background-repeat: no-repeat;
   background-size: cover;
 }